.listCard {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;

  a {
    cursor: pointer;
  }

  button {
    border: none;
    height: 32px;
    width: 32px;
  }
}
